CONFIG_ESP32P4_REV_MIN_0=y
# CONFIG_ESP32P4_REV_MIN_301 is not set

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_LV_DRAW_THREAD_STACK_SIZE=49152

CONFIG_ESP_WIFI_REMOTE_ENABLED=y
CONFIG_ESP_HOSTED_ENABLED=y

# CONFIG_SPIRAM_FETCH_INSTRUCTIONS is not set
# CONFIG_SPIRAM_RODATA is not set
# CONFIG_SPIRAM_XIP_FROM_PSRAM is not set
# CONFIG_SPIRAM_FLASH_LOAD_TO_PSRAM is not set

CONFIG_ESP_HOSTED_SDIO_CLOCK_FREQ_KHZ=20000
CONFIG_ESP_SDIO_CLOCK_FREQ_KHZ=20000